@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Raleway:ital,wght@0,400;0,600;1,600&display=swap');


/* @font-face {
  font-family: 'Name';
  src: url('../fonts/name.woff') format('woff');
  src: url('../fonts/name.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
} */